<html>
    <head>
        <title>DropWizardTestAvroOne</title>
        <link rel="shortcut icon" type="image/ico" href="/assets/images/favicon.ico"/>
        <script src="/assets/js/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="/assets/js/jquery.jqGrid.min.js" type="text/javascript"></script>
        <script src="/assets/js/grid.locale-en.js" type="text/javascript"></script>
        <script src="/assets/js/jquery-ui.min.js" type="text/javascript"></script>
		<link href="/assets/css/ui.jqgrid-bootstrap.css" rel="stylesheet" type="text/css"/>       
		<link href="/assets/css/ui.jqgrid.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/css/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/css/jquery-ui.structure.min.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/css/jquery-ui.theme.min.css" rel="stylesheet" type="text/css"/>		
    </head>
    <body>
        <div id="datasetid" data-val="{{datasetID}}" style="display: none;"></div>
        <table id="testRecOneDataList">
            <tr>
                <td></td>            
            </tr>
        </table>
        <script src="/assets/js/testRecOneDataList.js" type="text/javascript"></script>
    </body>
</html>